<section>
  <div class="page-header">
    <h1>{{vm.schedule._id ? 'Edit Schedule' : 'New Schedule'}}</h1>
    <h2>{{vm.shiftName}}</h2>
  </div>
  <div class="col-md-12">
    <form name="vm.form.scheduleForm" class="form-horizontal" ng-submit="vm.save(vm.form.scheduleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="weekName">Week of Month</label>
          <input name="weekName" type="text" ng-model="vm.schedule.weekName" id="weekName" class="form-control" placeholder="Week of month" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.schedule._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
