<section>
  <div class="page-header">{{$scope}}
    <h1>{{vm.schedule.monday[vm.index].hours[0]}} p.m. to  {{vm.schedule.monday[vm.index].hours[1]}} a.m</h1>
  </div>
  <div ng-repeat = "employee in vm.schedule.monday[vm.index].employees">
    {{employee}}
  </div>
  <div class="col-md-12">
    <form name="vm.form.scheduleForm" class="form-horizontal" ng-submit="vm.save(vm.form.scheduleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="hours0">Start Time</label>
          <input name="hours0" type="text" ng-model="vm.schedule.monday[vm.index].hours[0]" id="hour0" class="form-control" placeholder="Enter Start Time" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="hours1">End Time</label>
          <input name="hours1" type="text" ng-model="vm.schedule.monday[vm.index].hours[1]" id="hour1" class="form-control" placeholder="Enter End Time" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.schedule._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
