<section>
  <div ng-repeat = "schedule in vm.schedules">
    <a ng-hide = "pushNextWeek(schedule)">
    </a>
  </div>

  <div ng-hide = "noNextWeek()">
  </div>
  <div class="page-header cookiefont">
    <h1 style="text-align: center;">Schedules</h1>
  </div>
  <div class="list-group cookiefont">
    <h3> Next Week's Schedule </h3>
    <div ng-hide = "noWeek">
      <a ng-repeat="schedule in vm.schedules" ng-show = "isNextWeek(schedule)"
         ui-sref="schedules.view({ scheduleId: schedule._id })"
         class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="schedule.weekName"></h4>
      </a>
    </div>
    <div ng-show = "noWeek">
      <a class = "btn cookiebutton"  ui-sref="schedules.create">Create a New Schedule!</a>
    </div>
    <h3> Current Week's Schedule </h3>
    <a ng-repeat="schedule in vm.schedules" ng-show = "isThisWeek(schedule)"
       ui-sref="schedules.view({ scheduleId: schedule._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="schedule.weekName"></h4>
    </a>

    <h3> Other Weeks </h3>
    <a ng-repeat="schedule in vm.schedules" ng-show = "isOtherWeek(schedule)"
       ui-sref="schedules.view({ scheduleId: schedule._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="schedule.weekName"></h4>
    </a>
  </div>
</section>
