<section>
  <!----------- Edit Schedule and Delete Schedule Buttons--------->
  <div class="cookiefont">
    <div class="pull-right">
      <a class="btn cookiebutton" ui-sref="schedules.edit({ scheduleId: vm.schedule._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn cookiebutton" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <h1 ng-bind="vm.schedule.weekName"></h1>
  </div>

<!------Printing out shifts for each day------->

  <div class="cookiefont">

    <!---------Monday--------->

    <h2>Monday</h2>
    <div class="cookierow">
      <!--------- Drivers --------->
      <div class="cookiecol">
        <h4 class="margintop25">Driver</h2>

        <!-----Printing out all shifts for monday ---->
        <div ng-repeat="monday in vm.schedule.monday"
        ng-show = "monday.role[0]" class="list-group-item" ng-style = "{'background-color': monday.required == 0 ? 'green' : 'red'}">
          <div class="pull-right" style = "padding-top : 5px">
            {{monday.whichShift}}
            <!--Printing all employees assigned to shift-->
            <div ng-repeat="employee in monday.employees">
              {{employee.name}} {{employee.id}}
              <a class="btn cookiebutton" ng-click="removeEmployee(monday, $index, 'mon',  monday.employees[$index])">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
          </div>
          <h4 class="list-group-item-heading"style = "padding : 10px">{{monday.hours[0]}} to {{monday.hours[1]}} </h4>
          <!------Print out available employee ---->
          <a class = "btn" ng-repeat = "employee in monday.available" ng-click= "addEmployee(monday, employee, 'mon', $index)">
            {{employee.name}}
          </a>
        </div>
      </div>

      <!--------- Kitchen //we now have a required value for each shift
        //when an employee is added, this required value needs to be subtracted or added to
        //if shift.required = 0, turn the element green. --------->
      <div class="cookiecol">
        <h4 class="margintop25">Kitchen</h2>
       

        <!-----Printing out all shifts for monday ---->
        <div ng-repeat="monday in vm.schedule.monday"
        ng-show = "monday.role[1]" class="list-group-item" ng-style = "{'background-color': monday.required == 0 ? 'green' : 'red'}">
          <div class="pull-right" style = "padding-top : 5px">
            {{monday.whichShift}}
            <!--Printing all employees assigned to shift-->
            <div ng-repeat="employee in monday.employees">
              {{employee.name}}
              {{employee.id}}
              <a class="btn cookiebutton" ng-click="removeEmployee(monday, $index, 'mon',  monday.employees[$index])">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
          </div>
          <h4 class="list-group-item-heading"style = "padding : 10px">{{monday.hours[0]}} to {{monday.hours[1]}} </h4>
          <!------Print out available employee ---->
          <a class = "btn" ng-repeat = "employee in monday.available" ng-click= "addEmployee(monday,employee,'mon', $index)">
            {{employee.name}}
          </a>
        </div>
      </div>

      <!--------- Front --------->
      <div class="cookiecol">
        <h4 class="margintop25">Front</h2>

        <!-----Printing out all shifts for monday ---->
        <div ng-repeat="monday in vm.schedule.monday"
        ng-show = "monday.role[2]" class="list-group-item" ng-style = "{'background-color': monday.required == 0 ? 'green' : 'red'}">
          <div class="pull-right" style = "padding-top : 5px">
            {{monday.whichShift}}
            <!--Printing all employees assigned to shift-->
            <div ng-repeat="employee in monday.employees">
              {{employee.name}}
              <a class="btn cookiebutton" ng-click="removeEmployee(monday, $index, 'mon', monday.employees[$index])">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
          </div>
          <h4 class="list-group-item-heading"style = "padding : 10px">{{monday.hours[0]}} to {{monday.hours[1]}} </h4>
          <!------Print out available employee ---->
          <a class = "btn" ng-repeat = "employee in monday.available" ng-click= "addEmployee(monday, employee,'mon', $index)">
            {{employee.name}}
          </a>
        </div>
      </div>

    </div>

  <!----------REST OF DAYS GO HEAR------->

  </div>
  <p class="lead" ng-bind="vm.schedule.content"></p>
</section>
