<section>
  <div class="page-header">
    <h1>Profilepages</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="profilepage in vm.profilepages"
       ui-sref="profilepages.view({ profilepageId: profilepage._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="profilepage.created | date:'mediumDate'"></span>
        by
        <span ng-if="profilepage.user" ng-bind="profilepage.user.displayName"></span>
        <span ng-if="!profilepage.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="profilepage.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.profilepages.$resolved && !vm.profilepages.length">
    No Profilepages yet, why don't you <a ui-sref="profilepages.create">create one</a>?
  </div>
</section>
