<!--<section >-->
  <!--<div class="page-header">-->
    <!--<h1>Profilepages</h1>-->
  <!--</div>-->
  <!--<div class="list-profilepages-red">-->

  <!--<img src="{{vm.authentication.user.profileImageURL}}"/>-->

    <!--<h1> Username: {{vm.authentication.user.username}} </h1>-->
    <!--<h1> First Name: {{vm.authentication.user.firstName}} </h1>-->
    <!--<h1> Last Name: {{vm.authentication.user.lastName}} </h1>-->
    <!--<h1> Email: {{vm.authentication.user.email}} </h1>-->
    <!--{{vm.test}}-->
  <!--</div>-->

<!--</section>-->

<section class = "cookiefont profilePage">
  
  <tabset justified="true">
    <tab class ="fontcolorbrown" heading="My Info">

      <h3 style="text-align: center">{{"Username: "}} {{vm.authentication.user.username}} </h3>
      <h3 style="text-align: center">Email: {{vm.authentication.user.email}}</h3>


      <h3 style="text-align: center">Phone Number: (772) 378-6888</h3>


    </tab>
    <tab class = "fontcolorbrown"heading="My Schedule">
      <h1> This content is not yet available! Coming Soon™! </h1>
    </tab>
  </tabset>
</section>
