<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      
    <div class="row">
      <p><img src="https://static1.squarespace.com/static/54cfeef5e4b08c95f9e9b9cb/t/5984b0a6ff7c504ae1937f2a/1506433426389/" alt="Smiley face" height="299" width="546">
        <!-- <a class="btn btn-primary btn-lg" href="authentication/signin" >Login</a> -->
      </p>
    </div>


  </div>
  
</section>