<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4" ng-init = "getSchedules()">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>

<!--
       <div class="form-group" show-errors>
          <label for="type">Position</label>
          <input type="text" id="type" name="type" class="form-control" ng-model="user.type" placeholder="Position" required>

        </div> -->

        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>



        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="employeeCredentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="employeeCredentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" >

        <table border = "1" width = "500" height = "300">


          <tr>

          <th>Mon</th>
           <td ng-repeat = "shift in schedules[0].monday" ng-show = "compareArray(shift.role,user.type)">
             <h4>{{returnRole(shift.role)}}:</h4>
                {{shift.hours[0]}} to {{shift.hours[1]}}
           <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.mon[$index]">

           </td>
           </tr>
          <tr >
          <th>Tue</th>
           <td ng-repeat = "shift in schedules[0].tuesday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.tue[$index]">

           </td>
          </tr>
          <tr >
          <th>Wed</th>
           <td ng-repeat = "shift in schedules[0].wednesday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.wed[$index]">

           </td>
          </tr>
          <tr >
          <th>Thu</th>
           <td ng-repeat = "shift in schedules[0].thursday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.thu[$index]">

           </td>
          </tr>
          <tr >
          <th>Fri</th>
           <td ng-repeat = "shift in schedules[0].friday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.fri[$index]">

           </td>
          </tr><tr >
          <th>Sat</th>
           <td ng-repeat = "shift in schedules[0].saturday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.sat[$index]">

           </td>
          </tr>
          <tr >
          <th>Sun</th>
           <td ng-repeat = "shift in schedules[0].sunday" ng-show = "compareArray(shift.role,user.type)"> <h4>{{returnRole(shift.role)}}:</h4>
              {{shift.hours[0]}} to {{shift.hours[1]}}
            <input type="checkbox" id="availibility" name="availibility" class="form-control" ng-true-value = '1' ng-false-value = '0' ng-model="user.availibility.sun[$index]">

           </td>
          </tr>
        </table>

        </div>




        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
