

/*Custom colors for Cookiegazm
BROWN = #662611
BLUE = #00aad7
SPLAT WHITE = #e1f3fa
*/

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*==========Jairo's Design========*/

.white {
  min-height: 100px;
  background-color: white;
  border-bottom-color: #662611;
  border-bottom-width: 10px;
  border-bottom-style: dotted;
}

.page {
  padding-top: 100px;
}

.margintop25{
  margin-top: 25px;
}

.btn .btn-primary{
  background-color: #662611 !important;
}

.cookiebutton{
    background-color: #662611 !important;
    border-radius: 15px;
    border-color: #662611;
    color: white;
}
/*!important lets me have more priority over some bootstrap styles */
.cookiebutton:hover   {
  background-color: #00aad7 !important;
  border-color: #00aad7 !important;
}

.cookiebutton:focus  {
  background-color: #00aad7 !important;
  border-color: #00aad7 !important;
}

.icon-bar{
  min-width: 50px;
  min-height:5px;
}

.cookiecollapse{
  border: none;
  border-radius: 15px;
  background-color: white ;
}
.jumbotron{
  font-family: 'Kalam', cursive;
}
.cookiefont {
  font-family: 'Kalem', cursive;
}

.fontcolorbrown{
  color: #662611 !important;
  font-weight: bold;
}

.fontcolorbrown:hover {
  color: #00aad7 !important;
}

li.dropdown.open>a {
  background: white !important;
}

li.dropdown.active>a{
  background: white !important;
}
li.active>a{
  background: white !important;
}
a.ng-binding.ng-scope{
  color: #662611 !important;
  font-weight: bold;
}
a.ng-binding.ng-scope:hover{
  color: #00aad7 !important;
}
.navbar-header{
  height: 100px;
}

.navbar-nav {
  padding-top: 25px;
}

.navbar-brand {
  height:100px;
}

.jumbotron{
  background-color: #e1f3fa;
}

.header-profile-image{
  color: #662611 !important;
}


/*------------Layout Classes--------------*/

.cookierow {
  display: inline-flex;
  min-width: 100%;
}

.cookiecol {
  width: 33%;
  height: 100%;
}
.cookiecol-2 {
  display:inline;
  width: 50%;
  height: 100%;
}
